<section class="imagen">
  <div class="row">
      <div class=" col-md-2"></div>
      <div class= "col-md-8"><img src="img/laburo.png"></div>
      <div class=" col-md-2"></div>
  </div>
</section>

<section class=" laburo">
    <div class="row">
    <div class="col-md-4">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class= "btn-edit"   on click="cambiar_parrafo()">
          <a href="#" class="btn-ligth">
            <i class="fa-solid fa-user-pen" style=color:yellow></i>
          </a>
          <div class="card-header">Escuela Normal Juan.F.Quiroga</div>
          <div class="card-body text-dark">
            <h5 class="card-title">2016- actualidad</h5>
            <p class="card-text">DOCENTE DE EDUCACIÓN TECNOLÓGICA</p>
          </div>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class= "btn-edit"   on click="cambiar_parrafo()">
        <a href="#" class="btn-ligth">
          <i class="fa-solid fa-user-pen" style=color:yellow></i>
        </a>
        <div class="card-header">E.P.E.T N°1 Juan Marino Cioce</div>
        <div class="card-body text-dark">
          <h5 class="card-title">2016- actualidad</h5>
          <p class="card-text">DOCENTE DE MATERIAS CIENTÍFICO-TECNOLÓGICAS</p>
        </div>
    </div>
    </div>
    </div>

    <div class="col-md-4">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class= "btn-edit"   on click="cambiar_parrafo()">
            <a href="#" class="btn-ligth">
              <i class="fa-solid fa-user-pen" style=color:yellow></i>
            </a>
            <div class="card-header">Colegio Provincial de Chepes</div>
               <div class="card-body text-dark">
            <h5 class="card-title">2016- actualidad</h5>
            <p class="card-text">DOCENTE DE EDUCACIÓN TECNOLÓGICA</p>
               </div>
        </div>
    </div>
    </div>
    </div>
</section>

