<section class="imagen">
  <div class="row">
      <div class=" col-md-2"></div>
      <div class= "col-md-8"><img src="img/proyectos.png"></div>
      <div class=" col-md-2"></div>
  </div>
</section>

<section class="proyectos">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class= "btn-edit"   on click="cambiar_parrafo()">
        <a href="#" class="btn-ligth">
          <i class="fa-solid fa-user-pen" style=color:black></i>
        </a>
      <img src="img/dr.elvisteck.png" class="card-img-top" alt="tienda online kuichi">
      <div class="card-body">
        <h5 class="card-title">Tienda online para emprendimiento de ropa de mascotas</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <div class= "btn-edit"   on click="cambiar_parrafo()">
        <a href="#" class="btn-ligth">
          <i class="fa-solid fa-user-pen" style=color:black></i>
        </a>
      <img src="img/dr-elvisteck.png" class="card-img-top" alt="web dentista">
      <div class="card-body">
        <h5 class="card-title">Web para consultorio odontológico </h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <div class= "btn-edit"   on click="cambiar_parrafo()">
        <a href="#" class="btn-ligth">
          <i class="fa-solid fa-user-pen" style=color:black></i>
        </a>
      <img src="img/curriculum.png" class="card-img-top" alt="web heregias">
      <div class="card-body">
        <h5 class="card-title">Pagina web para la banda de heavy metal Heregías </h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  </div>
  <div class="col">
    <div class="card">
      <div class= "btn-edit"   on click="cambiar_parrafo()">
        <a href="#" class="btn-ligth">
          <i class="fa-solid fa-user-pen" style=color:black></i>
        </a>
      <img src="img/curriculum.png" class="card-img-top" alt="curriculum">
      <div class="card-body">
        <h5 class="card-title">CV Proyecto integrador del Argentina Programa</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
</div>
</section>
